language: node_js
node_js:
  - "6.11.5"
  - "8"
  - "10"
cache:
  yarn: true
install:
  - yarn install --ignore-engines
script:
  - yarn test --coverage
after_success:
  - yarn codecov
  - yarn release
